div.main {
  min-height: 100vh;
  padding-bottom: 60px;
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.jumbotron-home {
    margin-top: 0px;
    padding: 200px;
    background-image: url(../images/ang-sac-goh.png);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0%;

}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  footer {
    display: flex;
    position: relative;
    margin-top: 5rem;
    padding: 5rem;
    clear: both;
    background-color: $color-primary;
    color: white;
    justify-content: center;
    width: 100%;

    a {
      color: white;
      margin: .25rem;
    }

    span {
      align-self: center;
      text-align: center;
    }
  }
}
